#header {
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: maroon;
    padding: 10px;
    justify-content: space-between;
}

#searchInput {
    align-self: center;
    width:50%;
    padding: 10px;
}

#hidden-section {
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    justify-content: space-evenly;
    padding: 10px;
    font-size:18px;
    color: white;
    font-weight: bold;
}

#hideTicketsCounter {
    order: 1;
}

#restoreHideTickets {
    order: 2;
    cursor: pointer;
}

#restoreHideTickets:hover {
    background-color:white;
    color: maroon;
    cursor: pointer;
}

#tickets-section {
    margin-top:110px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.ticket {
    flex-flow: row wrap;
    margin: 25px;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
}

.show-more {
    font-weight:bold;
}

.show-more:hover {
    font-weight:bold;
    cursor: pointer;
    text-decoration: underline;
}